@import "../../styles/variables";
@import "../../styles/container";
@import "../../styles/button";

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 2rem;
    font-family: $font1;
    text-transform: uppercase;
    font-size: 3rem;
  }

  .field {
    margin-bottom: 1rem;
    input {
      display: block;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border-radius: 10px;
      outline: none;
    }

    .error {
      color: #ff0000;
    }
  }

  .btn {
    width: 100%;
  }
}
