@import "../../styles/variables";
@import "../../styles/container.scss";

.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 64px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;

  &.light {
    color: #fff;
  }

  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-weight: bold;
    font-family: $font1;
  }

  .spacer {
    flex: 1;
  }

  .navItem {
    margin-left: 2rem;
  }
}
