@import "../../../../styles/container.scss";
@import "../../../../styles/variables";

.screen {
  margin-top: 2rem;

  & > h1 {
    text-align: center;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;

    &.title {
      font-weight: bold;
      font-size: 3rem;
      text-transform: uppercase;
      font-family: $font1;
    }
  }
}
