@import "../styles/container.scss";
@import "../styles/button.scss";

.screen {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;

  .heroContent {
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;

    .column {
      text-align: center;
      h1 {
        font-size: 4rem;
        text-transform: uppercase;
      }

      p {
        margin-top: 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
      }

      .btnContainer {
        margin-top: 3rem;

        .heroBtn {
          width: 30%;
          margin-right: 1rem;
        }
      }
    }
  }
}
