@import "../styles/container.scss";
@import "../styles/button.scss";

.screen {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;

  .heroContent {
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;

    .column {
      text-align: center;
      h1 {
        font-family: "Montserrat";
        font-size: 5rem;
        text-transform: uppercase;
      }

      p {
        margin-top: 4rem;
        font-size: 2rem;
        line-height: 3rem;
      }

      .btnContainer {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .heroBtn {
          padding: 1.2rem 2rem;
          min-width: 30%;
          font-size: 1.7rem;
          margin-right: 2rem;
        }
      }
    }
  }
}
