@import "./variables";

button.btn {
  border: none;
  outline: none;
  background-color: $primaryColor;
  color: #fff;
  font-family: $font1;
  padding: 0.7rem 2rem;
  font-size: 1.3rem;
  border-radius: 10px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    transform: scale(0.99);
  }

  &.flat {
    background-color: inherit;
    border: 1px solid #fff;
  }

  &:disabled {
    background-color: #fcfcfc;
  }
}
