@import "./variables";

button.btn {
  border: none;
  outline: none;
  background-color: $primaryColor;
  color: #fff;
  font-family: $font1;
  padding: 1.2rem 2rem;
  font-size: 1.3rem;
  border-radius: 10px;

  &.flat {
    background-color: inherit;
    border: 1px solid #fff;
  }
}
